<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Contact Us</title>
  </head>
  <body class="bg-gray-100">
    <!-- Begin Header -->
    <header
      class="sticky top-0 left-0 right-0 py-4 font-bold shadow-md bg-slate-100"
    >
      <nav
        class="flex flex-col items-center justify-between gap-5 px-2 mx-auto lg:gap-0 lg:flex-row md:px-0 md:max-w-screen-lg"
      >
        <a href="/"
          ><img class="w-24 h-auto" src="/images/prep_logo.png" alt="Prep Logo"
        /></a>
        <ul class="flex flex-col items-center justify-center gap-4 lg:flex-row">
          <li>
            <a class="text-lg transition-colors hover:text-green-800" href="/"
              >Home</a
            >
          </li>
          <li>
            <a
              class="text-lg transition-colors hover:text-green-800"
              href="/services"
              >Services</a
            >
          </li>
          <li>
            <a
              class="text-lg transition-colors hover:text-green-800"
              href="/contact"
              >Contact</a
            >
          </li>
        </ul>
        <a
          class="px-4 py-2 font-bold text-white transition-colors bg-green-600 rounded-md hover:bg-green-800"
          href="/contact"
          >Contact Us</a
        >
      </nav>
    </header>
    <!-- End Header -->
    <main class="container mx-auto mt-8 px-4">
      <h1 class="text-4xl font-bold text-center mb-8">Contact Us</h1>

      <div class="max-w-md mx-auto bg-white rounded-lg shadow-md py-5 px-6">
        <form
          method="post"
          action="/contact"
          class="flex flex-col justify-center gap-3"
        >
          <div class="w-full">
            <label for="name" class="">Name</label>
            <input
              type="text"
              name="name"
              required
              class="w-full p-2 text-lg text-gray-900 bg-transparent rounded-md border-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-green-600"
            />
          </div>
          <div class="w-full">
            <label for="email" class="">Email</label>
            <input
              type="email"
              name="email"
              required
              class="w-full p-2 text-lg text-gray-900 bg-transparent rounded-md border-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-green-600"
            />
          </div>
          <div class="w-full">
            <label for="message" class="">Message</label>
            <textarea
              name="message"
              required
              class="w-full p-2 min-h-10 max-h-24 text-gray-900 rounded-md border-2 appearance-none focus:outline-none focus:ring-0 focus:border-green-600"
            ></textarea>
          </div>
          <div>
            <button
              type="submit"
              class="w-full font-bold py-2 px-4 border border-transparent rounded-md shadow-sm text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500"
            >
              Send Message
            </button>
          </div>
        </form>
      </div>
    </main>
  </body>
</html>
