<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script
      defer
      src="https://kit.fontawesome.com/985cabe830.js"
      crossorigin="anonymous"
    ></script>
    <title>Not Found</title>
  </head>
  <body class="h-screen">
    <!-- Begin Header -->
    <%- include('partials/header.ejs') %>
    <!-- End Header -->
    <main class="flex flex-col h-screen items-center justify-center">
      <img class="w-96 h-auto" src="/images/404.png" alt="404 Page Not Found" />
      <div
        class="flex hover:-translate-x-2 transition-transform duration-500 items-center justify-center gap-3"
      >
        <i class="fa-solid fa-arrow-left fa-2xl"></i>
        <a class="font-bold text-lg" href="/">Go Back To Home Page</a>
      </div>
    </main>
  </body>
</html>
